asgiref==3.5.2
coverage==7.0.0
Django==4.1.4
django-dotenv==1.4.2
flake8==6.0.0
gunicorn==20.1.0
mccabe==0.7.0
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pyflakes==3.0.1
PyJWT==2.6.0
sqlparse==0.4.3
whitenoise==6.2.0
