{% extends "_base.html" %}


{% block content %}

<h1>Reset Password</h1>

user: {{ user.username }} <br>

<form action="" method="post">
    {% csrf_token %}

    <p>
        {{ form.password.label }} <br>
        {{ form.password }} <br>
        {% for error in form.errors.password %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}

    </p>
    <p>
        {{ form.password2.label }} <br>
        {{ form.password2 }} <br>
        {% for error in form.errors.password2 %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}

    </p>
    <p>
        <input type="submit" value="confirm">
    </p>

</form>



{% endblock content %}